# List

In [1]:
list=['saikat', 'joy', 'bijoy','sarkar',1,2,3,4,]
print(list)

['saikat', 'joy', 'bijoy', 'sarkar', 1, 2, 3, 4]

In [5]:
list=['saikat', 'joy', 'bijoy','sarkar',1,2,3,4,]
print(len(list))

8

In [6]:
print(list[1])

joy

In [7]:
print(list[-2])

3

In [8]:
print(list[2:5])

['bijoy', 'sarkar', 1]

In [9]:
print(list[:4])

['saikat', 'joy', 'bijoy', 'sarkar']

In [10]:
print(list[3:])

['sarkar', 1, 2, 3, 4]

In [12]:
print(list[-4:-1])

[1, 2, 3]

In [14]:
if 'saikat' in  list:
    print("yeah! i found it")

yeah! i found it

In [21]:
list[3]='saikat'
print(list)

['saikat', 'saikat', 'bijoy', 'saikat', 1, 2, 3, 4]

In [23]:
list[1:3]=['shakil','sujon']
print(list)

['saikat', 'shakil', 'sujon', 'saikat', 1, 2, 3, 4]

In [27]:
list[2]="joy"
print(list)

['saikat', 'shakil', 'joy', 'saikat', 1, 2, 3, 4]

In [28]:
list.append("machineleaarnig")
print(list)

['saikat', 'shakil', 'joy', 'saikat', 1, 2, 3, 4, 'machineleaarnig']

In [34]:
list.insert('data','science',1)
print(list)

TypeError: insert expected 2 arguments, got 3

In [35]:
tropical=['sourav','sql',100]
list.extend(tropical) 
print(list)

['saikat', 'shakil', 'joy', 'saikat', 1, 2, 3, 4, 'machineleaarnig', 'sourav', 'sql', 100]

In [36]:
list.remove('saikat')
print(list)

['shakil', 'joy', 'saikat', 1, 2, 3, 4, 'machineleaarnig', 'sourav', 'sql', 100]

In [39]:
list.pop(5)
print(list)

['shakil', 'joy', 'saikat', 1, 2, 4, 'machineleaarnig', 'sourav', 'sql', 100]

In [41]:
list.pop()
print(list)

['shakil', 'joy', 'saikat', 1, 2, 4, 'machineleaarnig', 'sourav']

In [42]:
for i in range(len(list)):
    print(list[i])

shakil
joy
saikat
1
2
4
machineleaarnig
sourav

In [46]:
i = 0
while i < len(list):
    print(list[i])
    i = i + 1

shakil
joy
saikat
1
2
4
machineleaarnig
sourav

In [49]:
list.pop(2)
print(list)

['joy', 'saikat', 1, 2, 4, 'machineleaarnig', 'sourav']

In [50]:
list.pop(2)
print(list)

['joy', 'saikat', 2, 4, 'machineleaarnig', 'sourav']

In [51]:
list.pop(2)
print(list)

['joy', 'saikat', 4, 'machineleaarnig', 'sourav']

In [52]:
list.pop(2)
print(list)

['joy', 'saikat', 'machineleaarnig', 'sourav']

In [53]:
list.sort()
print(list)

['joy', 'machineleaarnig', 'saikat', 'sourav']

In [54]:
list.reverse()
print(list)

['sourav', 'saikat', 'machineleaarnig', 'joy']

In [56]:
mylist=list.copy()
print(mylist)

['sourav', 'saikat', 'machineleaarnig', 'joy']

In [10]:
list1 = []

n = int(input())

for i in range(n):
    new_element = input()
    list1.append(new_element)
    print(list1)

3
saikat
['saikat']
dd
['saikat', 'dd']
joy
['saikat', 'dd', 'joy']

#### tuple

In [4]:
tup1 = ('data science',)
print(tup1)

('data science',)

In [11]:
list1

['saikat', 'dd', 'joy']

In [12]:
type(tup1)

tuple

In [13]:
tup2 = list(tup1)

In [14]:
tup2

['data science']

# set

In [18]:
s1 = {1,2,3,454,5}
s2 = {'ai','data science'}
print(s1)

{1, 2, 3, 5, 454}

In [19]:
s2

{'ai', 'data science'}

In [20]:
import array as ar

In [21]:
array = ar.array('i',[1,2,3,4,5])

In [22]:
array

array('i', [1, 2, 3, 4, 5])

In [23]:
array.insert(1,10)

In [24]:
array

array('i', [1, 10, 2, 3, 4, 5])

In [25]:
array.reverse()

In [26]:
array

array('i', [5, 4, 3, 2, 10, 1])

# dictionary

In [27]:
dic = {
    'name': 'saikat',
    'varsity': 'DIU',
    'year': 2024
}

In [28]:
dic

{'name': 'saikat', 'varsity': 'DIU', 'year': 2024}

In [29]:
dic.keys()

dict_keys(['name', 'varsity', 'year'])

In [30]:
dic.values()

dict_values(['saikat', 'DIU', 2024])

In [32]:
dic['varsity'] = 'Daffodil'
dic

{'name': 'saikat', 'varsity': 'Daffodil', 'year': 2024}

In [33]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [34]:
import pandas as pd

In [35]:
li = ['data','science','ai']

In [36]:
df = pd.DataFrame(li)

In [37]:
df

         0
0     data
1  science
2       ai

In [38]:
df = pd.DataFrame(li, columns=['dept'])

In [39]:
df

      dept
0     data
1  science
2       ai

In [41]:
df2 = pd.DataFrame(li, columns=['dept name'])
df

      dept
0     data
1  science
2       ai

In [42]:
df+df2

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [43]:
df1 = pd.DataFrame(li)
df2 = pd.DataFrame(li)

In [45]:
df = pd.concat([df1, df2], axis=1)
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [46]:
df = df.drop([0,1])
df

    0   0
2  ai  ai

In [47]:
df.drop([0], axis=1, inplace=True)
df.head()

Empty DataFrame
Columns: []
Index: [2]